<!DOCTYPE html>
<html>
<body>
	<div id="infoWindow">
	<p><center><b>Parking Info</b></center></p>
	<table>
		<% @locationHash.each do |key, value| %>
			<tr>
				<td><b><%="#{key}"%></b></td>
				<td><%="#{value}"%></td>
			</tr>
		<% end %>
	</table>
	</div>
</body>
</html>